# зависимости
node_modules
/.pnp
.pnp.js

# тестирование
/coverage

# production
/build
cyberpolygon/build

# разработка
.DS_Store
.env
cyberpolygon/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# редакторы
.idea
.vscode
*.swp
*.swo

# временные файлы
.tmp
.temp

# системные файлы
Thumbs.db
ehthumbs.db
Desktop.ini
